.accordion .open .accordion__btn:after {
  content: "";
  display: none;
}

.accordion {


  &__btn {
    text-transform: uppercase;
    color: $highlight;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: $light-900;
    position: relative;
    display: block;
    &:hover {
      background-color: $light-500;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $highlight;
      border-radius: 6px;
      top: 50%;
    }

    &:before {
      width: 10px;
      height: 2px;
      right: 10px;
      transform: translateY(-50%);
    }

    &:after {
      width: 2px;
      height: 10px;
      right: 15px;
      transform: translate(50%, -50%)
    }
  }

  // &--active {
  //   &:after {
  //     content: "";
  //     display: none;
  //   }
  // }

  .product-return__accordion:hover {
    background-color: #ccc;
  }

  &__panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


}