.authentication {
  padding: 58px 0 70px;
  border-top: 1px solid $light-700;

  &__fieldset{
    border: none;
  }
  &__form {
    font-weight: 700;
    color: $highlight;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__entries {
    padding-top: 4px;
    margin-bottom: 5px;
  }

  &__label {
    &:not(:last-child) {
      margin-right: 39px;
    }
  }

  &__input {
    width: 507px;
    border: none;
    outline: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-700;
    margin-bottom: 24px;

    &::placeholder {
      font-weight: 400;
      color: $dark-500;
    }
    &--wide{
      width: 100%;
    }
  }

  &__btn {
    border: 1px solid $highlight;
  }

  &__text {
    max-width: 644px;
  }

  &__box {
    color: $dark-500;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 41px;
    }
  }

  &__checkbox,
  &__radio {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.authentication__checktext::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__checkbox {
    &:checked+.authentication__checktext::before {
      width: 10px;
      height: 10px;
      left: 0;
      background-image: url("../images/icons/checkmark.svg");
    }
  }

  &__radio {
    &:checked+.authentication__checktext::before {
      width: 7px;
      height: 7px;
      background-color: $dark-500;
      left: 2px;
    }
  }

  &__checktext {
    padding-left: 26px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      border: 1px solid $dark-500;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

  }

  &__radio-title {
    margin-right: 33px;
  }
}