.form {
  width: 100%;

  &--bordered {
    padding-top: 58px;
    border-top: 1px solid $light-700;

    &:not(:last-child) {
      margin-bottom: 69px;
    }
  }

  &__fieldset {
    border: none;
    width: 1055px;
    padding: 0;
    color: $highlight;
    font-weight: 700;
  }

  &__caption {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 48px;
  }

  &__precocious {
    color: $dark-500;
    padding-right: 12px;
    margin-bottom: 14px;
    font-weight: 400;
    display: inline-block;
    position: relative;

    &::after {
      content: "*";
      position: absolute;
      color: $dark-500;
      right: 0;
    }
  }

  &__title {
    margin-bottom: 38px;
  }

  &__entries {
    padding-top: 4px;
    margin-bottom: 5px;
  }

  &__label {
    display: block;
  }

  &__input {
    margin-bottom: 23px;
  }

  &__input,
  &__textarea {
    display: block;
    border: none;
    outline: transparent;
    border-bottom: 1px solid $light-700;
    outline: transparent;

    &::placeholder {
      font-weight: 400;
      color: $dark-500;
    }

    &--small {
      width: 508px;
    }

    &--medium {
      width: 780px;
    }

    &--large {
      width: 1055px;
    }
  }

  &__textarea {
    resize: none;
    height: 104px;
    margin-bottom: 30px;
  }

  &__box {
    color: $dark-500;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 41px;
    }

  }

  &__checkbox,
  &__radio {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.form__checktext::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__checkbox {
    &:checked+.form__checktext::before {
      width: 10px;
      height: 10px;
      left: 0;
      background-image: url("../images/icons/checkmark.svg");
    }
  }

  &__radio {
    &:checked+.form__checktext::before {
      width: 7px;
      height: 7px;
      background-color: $dark-500;
      left: 2px;
    }

    &--circle {
      &:checked+.form__checktext {
        color: $highlight;
        font-weight: 700;

        &::before {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $highlight;
        }
      }
    }
  }

  &__checktext {
    padding-left: 26px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      border: 1px solid $dark-500;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

    &--circle {
      &::after {
        border-radius: 50%;
        width: 11px;
        height: 11px;
        border-color: $highlight;
      }
    }

  }

  &__radio-title {
    margin-right: 33px;
  }

  &__btn {
    border: 1px solid $highlight;
  }

  .jq-selectbox {
    &__select {
      padding: 0;
      width: 100%;
    }

    &__select-text {
      width: 100%;
      margin: 0;
      color: $dark-500;
      font-weight: 400;
    }

    &__dropdown {
      font-weight: 400;
    }
  }

  &__checkbox-desc {
    margin-bottom: 26px;

    &--active {
      padding: 19px 26px 17px;
      background-color: $dark-300;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 10px solid $dark-300;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        width: 0;
        height: 0;
        top: -10px;
        display: block;
      }
    }
  }

}