.header {
  &__nav {
    padding: 31px 0;
  }

  &__bottom {
    background-color: #F5F5F3;
    padding: 25px 0;
  }

  .nav-lang {
    &--active {
      font-weight: 700;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.3;
    }
  }


  &__search {
    width: 600px;
    height: 50px;
    border: none;
    outline: transparent;
    padding-left: 15px;

    &::placeholder {
      color: #c4c4c4;
      font-size: 14px;
      line-height: 1.3;
    }

  }


}


.menu {
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: inherit;
  }
}

.filter {
  position: relative;
  padding-left: 28px;
  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 18px;
    height: 9px;
    background-image: url(../../images/icons/filter-btn.svg);
  }

  &__list {
    position: absolute;
    top: 50px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__item {
    position: relative;

    &:hover {
      .filter__submenu {
        display: flex;
      }
    }
  }

  &__submenu {
    position: absolute;
    right: -584px;
    top: 0;
    background-color: #ffffff;
    padding: 28px 47px 32px 40px;
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__categories {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__heading {
    margin-bottom: 21px;
    font-weight: 700;
    line-height: 1.25;
  }

  &__group {
    display: block;
    width: 263px;
    background-color: $highlight;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px 23px 16px 21px;
    transition: padding 0.3s, color 0.3s;
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid #2d2d2d;
    }

    &:hover {
      padding-left: 31px;
      color: #ffffff;
      transition: padding 0.3s, color 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 21px;
      width: 3px;
      height: 5px;
      background-image: url("../../images/icons/angle-right.svg");
    }
  }

  &__link {
    color: #767676;
    transition: font-weight 0.3s, color 0.3s;

    &:hover {
      color: $highlight;
      font-weight: 700;
      transition: font-weight 0.3s, color 0.3s;

    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

}

.user {
  width: 13px;
  height: 15px;
  padding-right: 29px;
  margin-right: 60px;
  background-image: url('../../images/icons/user.svg');
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    background-image: url('../../images/icons/path.svg');
    width: 9px;
    height: 5px;
    top: 5px;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &__list {
    position: absolute;
    top: 20px;
    right: 0;
    display: none;

    &--active {
      display: block;
    }
  }

  &__link {
    background-color: $secondary;
    color: $highlight;
    font-weight: 700;
    border: 1px solid #F0F0F0;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    &:hover {
      background-color: $highlight;
      color: $secondary;
      border: none;
    }
  }
}


.cart {
  background-image: url(../../images/icons/cart.svg);
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  position: relative;
  cursor: pointer;

  &__inner {
    position: absolute;
    top: 30px;
    right: 0;
    width: 358px;
    border: 1px solid #F0F0F0;
    display: none;



    &--active {
      display: block;
    }
  }

  &__top {
    padding: 20px;
    background-color: #F5F5F3;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../images/icons/close-icon.svg");
      width: 10px;
      height: 10px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__bottom {
    padding: 14px 22px 20px 21px;
  }

  &__subtotal {
    margin-bottom: 13px;
  }
}