.journal {
  padding-bottom: 130px;

  &__item {
    max-width: 510px;
    width: 100%;

    &:hover {
      .article__img {
        transform: scale(1.2);
        transition: transform 0.3s;
      }
    }
  }

}

.article {
  &__image-box {
    overflow: hidden;
    height: 400px;

  }

  &__img {
    width: 100%;
    height: 400px;
    margin-bottom: 26px;
    transition: transform 0.3s;
  }

  &__category {
    font-size: 14px;
    line-height: 1.3;
    color: $highlight;
    margin-bottom: 18px;
  }

  &__heading {
    font-size: 25px;
    line-height: 1.4;
    font-weight: 700;
    color: $highlight;
    margin-bottom: 7px;
    @include text-clamp(2);
  }
  &__desc{
    @include text-clamp(3);
  }
}