.shop-wrapper {
  padding: 124px 0 140px;

}

.products {
  &__inner {
    .product {
      margin-bottom: 40px;
    }
  }

  .accordion {

    &__btn {
      margin: 0;
      padding: 20px 0 0;
      height: 100%;
      text-transform: capitalize;
      color: $main;

      &:after,
      &:before {
        background-color: $main;
      }

      &:hover {
        background-color: inherit;
      }
    }
  }

}