.products {
  padding: 4px 0 140px;

  .accordion{
    
    &__btn{
      margin: 0;
      padding: 0;
      height: 100%;
      text-transform: capitalize;
      color: $main;
      padding: 19px 0;
      &:after,
      &:before{
        background-color: $main;
      }
      &:hover{
        background-color: inherit;
      }
    }
  }

  &__inner {
    .product {
      margin-bottom: 40px;
    }
  }

}



.filters {
  max-width: 372px;
  width: 100%;
  margin-right: 39px;

  
  &__item {
    &:not(:last-child) {
      padding-bottom: 53px;
    }

    label {
      padding-bottom: 19px;
      border-bottom: 1px solid #d8d8d8;
      cursor: pointer;

      &:not(:first-child) {
        padding-top: 19px;
      }

    }
  }
  &__top{
    cursor:pointer;
  }

  &__toggle{
    transition: transform 0.3s;
    &--collapsed{
      transform:rotate(-180deg);
      transition: transform 0.3s;
    }
  }



  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filters__checkbox {
      background-image: url(../images/icons/plus.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__checkbox {
    width: 10px;
    height: 10px;
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
  }
}

.filters-color {
  &__text {
    position: relative;
    padding-left: 21px;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      left: 0;
      top: 9px;
    }

    &--black::before {
      background-color: #000000;
    }

    &--pink::before {
      background-color: #FF8686;
    }

    &--green::before {
      background-color: #7ED321;
    }

    &--gray::before {
      background-color: #B6B6B6;
    }

    &--turquoise::before {
      background-color: #15CBA5;
    }
  }
  &__toggle{
    &--collapsed{
      transform: rotate(180deg);
    }
  }
  &__form{
    &--collapsed{
      display: none;
    }
  }
}

