.sale{
  padding: 140px 0 128px;
  color: $secondary;
  &__col{
    max-width: 780px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__big{
    padding: 271px 50px;
    background-image: url(../../images/slider/1.jpg);
  }
  &__small{
    padding: 66px 50px;
    background-image: url(../../images/slider/1.jpg);
    
  }
  .unit{
    &__text{
      color: rgba(255, 255, 255, 0.7048);
    }
  }
}

