$main: #6d6d6d;
$light-900: #ffffff;
$light-700:#f0f0f0;
$light-600:#d0cbcb;
$light-500: #F5F5F3;
$light-400:#e8e8e8;
$light-300:#cccccc;
$highlight: #262626;
$active:#482929;
$dark-1000: #000000;
$dark-900: #3c3737;
$dark-800:#777788;
$dark-750: #726e6e;
$dark-700:#2b2b2b;
$dark-600: #4f4c4c;
$dark-500: #767676;
$dark-450:#8d8282;
$dark-400: #979797;
$dark-300: #d8d8d8;
$dark-200: #F7F8F9;
$selected: #aaa9a9;

$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1200;
