.about {
  padding: 124px 0 131px;

  @include r($r-lg) {
    padding: 70px 0 70px;
  }

  @include r($r-md) {
    padding: 50px 0 50px;
  }

  &__list {
    margin-bottom: 128px;

    @include r($r-lg) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }
  }

  &__item {
    max-width: 780px;
    max-height: 776px;
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;

      @include r($r-lg) {
        margin: 0 0 40px 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.2;
    }
  }

  &__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 62px;
    min-width: 281px;
    height: 76px;
    font-size: 16px;
    z-index: 1;
    max-height: 76px;

    @include r($r-md) {
      max-height: 55px;
      min-width: 200px;
      bottom: 20px;
    }

  }

  &__intro {
    font-size: 39px;
    line-height: 1.3;
    color: $highlight;
    margin-bottom: 118px;

    @include r($r-lg) {
      font-size: 30px;
      margin-bottom: 60px;
    }
  }

  &__caption {
    color: $highlight;
    text-transform: capitalize;
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 1.4;
  }

  &__columns {
    @include r($r-lg) {
      flex-direction: column;
    }
  }

  &__col {
    &:not(:last-child) {
      margin-right: 40px;

      @include r($r-lg) {
        margin: 0 0 40px 0;
      }
    }


  }

  &__text {
    font-size: 16px;
  }
}