.contact {
  padding: 124px 0 140px;

  @include r(992) {
    padding: 80px 0 90px;
  }

  @include r(576) {
    padding: 40px 0 45px;
  }

  &__heading {
    margin-bottom: 42px;
  }

  &__form {
    margin-bottom: 140px;

    @include r(992) {
      margin-bottom: 80px;
    }

    @include r(576) {
      margin-bottom: 40px;
    }
  }
}

