.contact {
  padding: 124px 0 140px;
  &__heading {
    margin-bottom: 42px;
  }

  &__form {
    margin-bottom: 140px;
  }
}

.map {
  position: relative;

  &__api {
    width: 100%;
    height: 572px;
  }

  &__list {
    width: 450px;
    position: absolute;
    top: 80px;
    left: 80px;
  }

  &__address {
    font-style: normal;
  }

  &__address,
  &__contacts {
    margin-bottom: 11px;
  }

  &__contacts {
    display: block;
  }

  .accordion {
    text-transform: capitalize;
    font-weight: 700;
    min-height: 82px;

    &__panel {
      padding-bottom: 25px;
      font-weight: 400;
    }
  }
}