.best {
  padding: 123px 0 80px;

  @include r($r-lg) {
    padding: 50px 0 30px;
  }

  &__list {
    justify-content: space-between;

    @include r($r-lg) {
      justify-content: space-around;
    }
  }

  &__product {
    margin-bottom: 50px;
    flex-basis: calc((100% - 7.5%) / 4);

    @include r($r-lg) {
      flex-basis: calc((100% - 12%) / 2);
    }

    @include r($r-md) {
      flex-basis: 370px;
      
      margin-bottom: 45px;
      
    }

  }

  .product {
    &__new {
      display: none;
    }
  }
}