.best-seller {
  padding: 61px 407px 60px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  @include r($r-lg) {
    padding: 40px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($highlight, 0.4) ;
  }

  &__content {
    position: relative;
    margin-left: auto;
    max-width: 511px;
    z-index: 1;

    @include r($r-lg) {
      max-width: 100%;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__name {
    color: $light-900;
    margin-bottom: 38px;

    @include r($r-lg) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    color: $light-900;
    margin-bottom: 50px;
    @include text-clamp(2);

    @include r($r-lg) {
      margin-bottom: 20px;
    }
  }

}