.brands {
  padding-bottom: 127px;

  @include r($r-lg) {
    padding-bottom: 60px;
  }

  &__list {
    justify-content: center;
  }

  &__item {
    margin-bottom: 1px;
    min-width: 319px;
    &:hover {
      .brands__img {
        transform: rotateY(180deg);
        transition: transform 0.9s;
      }
    }

  }

  &__desc {
    max-width: 643px;
    margin-bottom: 50px;
    @include text-clamp(3);
  }

  &__img {
    max-width: 319px;
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.9s;
    backface-visibility: visible;

  }
}