.brands {
  padding-bottom: 127px;

  @include r($r-lg) {
    padding-bottom: 60px;
  }

  &__list {
    justify-content: center;
    @include r($r-md){
      // justify-content: start;
    }
  }

  &__item {
    margin-bottom: 1px;
    flex-basis: calc((100% - 4px) / 5);
    @include r($r-md){
      flex-basis: 320px;
      height: 320px;
    }
    
    &:not(:last-child){
      margin-right: 1px;
    }
    &:hover {
      .brands__img {
        transform: rotateY(180deg);
        transition: transform 0.9s;
      }
    }

  }

  &__desc {
    max-width: 643px;
    margin-bottom: 50px;
    @include text-clamp(3);
  }

  &__img {
    width: 100%;
    max-height: 320px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s;
    backface-visibility: visible;
  }
}