.new {

  &__slider {

    @include r($r-xl) {
      max-width: 760px;
      margin: 0 auto;
    }

    @include r($r-md) {
      max-width: 370px;
    }
  }

  &__product {
    max-width: 370px;
  }

  .slick-slide {
    max-width: 370px;
    margin: 0 auto;

    @include r($r-xl) {
      margin: 0 27px;
    }

    @include r($r-md) {
      margin: 0;
    }
  }

  .slick-list {
    margin: 0 -27px;

    @include r($r-md) {
      margin: 0;
    }
  }

  .slick-arrow {
    border: none;
    outline: transparent;
    font-size: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    background-color: $dark-400;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  .slick-prev.slick-arrow {
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
    background-image: url(../images/icons/arrow-prev.svg);
    left: 0;
  }

  .slick-next.slick-arrow {
    top: 45%;
    transform: translateY(-50%);
    background-image: url(../images/icons/arrow-next.svg);
    right: 30px;

    @include r($r-xl) {
      right: 0;
    }
  }

  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    &:focus {
      border: 2px solid $dark-750;
    }

    &:hover {
      background-color: $dark-450;
    }

    &:active {
      background-color: $dark-900;
      border: none;
    }
  }



  .product {
    &__new {
      display: none;
    }
  }
}