.sale {
  padding: 140px 0 128px;
  color: $light-900;

  @include r(992) {
    padding: 70px 0;
  }

  &__inner {
    @include r(992) {
      flex-direction: column;
    }
  }

  &__col {
    max-width: 780px;
    flex: 1;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include r(992) {
      max-width: 100%;
    }

    &:first-child {
      margin-right: 40px;

      @include r(992) {
        margin-right: 0;
      }
    }
  }

  &__big,
  &__small {
    padding: 50px;
    max-width: 100%;

    @include r(576) {
      padding: 20px;
    }
  }

  &__big {
    height: 100%;

    @include r(992) {
      margin-bottom: 40px;
    }
  }

  &__small {
    height: 47%;

    &:first-child {
      margin-bottom: 40px;
    }
  }

  &__big,
  &__small {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($dark-1000, 0.5);
    }
  }

  .unit {
    &__text {
      color: $light-900;
    }
  }
}