.special {
  padding: 128px 0 118px;

  @include r($r-lg) {
    padding: 60px 0 50px;
  }

  &__list {
    flex-wrap: wrap;
    justify-content: space-between;

    @include r($r-lg) {
      justify-content: space-around;
    }

  }

  &__product {
    flex-basis: calc((100% - 7.5%) / 4);

    @include r($r-lg) {
      flex-basis: calc((100% - 22%) / 2);
      margin-bottom: 50px;
    }

    @include r($r-md) {
      flex-basis: 370px;
    }

  }
}