.breadcrumbs {
  padding: 0 0 136px;

  &__item {
    &:not(:last-child) {
      padding-right: 12px;
      position: relative;
      z-index: -1;
      &::after {
        content: ">";
        position: absolute;
        color: $main;
        right: 0;
      }
    }

    &:not(:first-child) .breadcrumbs__link {
      margin-left: 8px;
    }
  }

  a.breadcrumbs__link {
    &:focus {
      text-shadow: 1px 0 0 $highlight;
    }

    &:hover {
      border-bottom: 1px solid $highlight;
    }

    &:active {
      color: $highlight;
    }
  }

}