.posts {
  &__title {
    margin-bottom: 35px;
    font-size: 20px;
  }

  &__subitem {
    border-bottom: 1px solid $light-700;
    position: relative;
    @include r($r-lg){
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $highlight;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__sublink {
    display: block;
    padding: 20px 0 20px 19px;

    &:focus {
      text-shadow: 1px 0 0 $highlight;
    }

    &:hover {
      background-color: $light-500;
    }

    &:active {
      color: $highlight;
    }
  }
}