.posts {
  &__title {
    margin-bottom: 35px;
    font-size: 20px;
  }

  &__subitem {
    border-bottom: 1px solid $light-700;
    position: relative;
    padding: 20px 0 20px 19px;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $highlight;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}