.sidebar {
  min-width: 515px;
  width: 100%;

  &__form {
    padding-bottom: 17px;
    border-bottom: 1px solid $light-700;
    margin-bottom: 54px;

    &:hover {
      background-color: $light-400;

      .sidebar__input::placeholder {
        color: $highlight;
      }
    }
  }

  &__input {
    min-width: 491px;
    height: 18px;
    border: none;
    outline: transparent;
    background-color: transparent;
  }

  &__widget {
    margin-bottom: 53px;
  }

  &__subitem {
    border-bottom: 1px solid $light-700;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $highlight;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__sublink {
    outline: transparent;
    display: block;
    padding: 20px 0 20px 19px;

    &:focus {
      text-shadow: 1px 0 0 $highlight;
    }

    &:hover {
      background-color: $light-500;
    }

    &:active {
      color: $highlight;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-size: 20px;
  }
}