.tags {
  &__title {
    margin-bottom: 44px;
  }

  &__item {
    font-size: 14px;
    font-weight: 700;
    color: $light-900;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  &__link {
    background-color: $highlight;
    padding: 9px 30px;
  }
}