.unit {
  z-index: 1;
  line-height: 1.3;

  &__title {
    margin-bottom: 36px;
    font-size: 39px;
    @include text-clamp(1);

    @include r(500) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__text {
    color: $light-900;
    margin-bottom: 49px;
    @include text-clamp(2);

    @include r(500) {
      margin-bottom: 20px;
    }

    span {
      font-size: 40px;
      color: $light-900;
      vertical-align: middle;
      @include r(500) {
        font-size: 30px;
      }}
  }
}