.shop-content {
  width: 100%;
  
  &__filter {
    margin-bottom: 60px;
  }

  &__btn {
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    outline: transparent;
    fill: $dark-500;
    background-color: transparent;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      fill: $light-900;
      background-color: $dark-1000;
    }
  }

  &__svg {
    width: 15px;
    height: 13px;
  }

  &__select-by {
    width: 240px;
    margin-right: 40px;
  }

  &__select-show {
    width: 140px;
  }
}

.shop-products{
  @include r(1200){
    justify-content: space-around;
  }
}

.test-input {
  display: none;

  &:checked+span {
    display: block;
    background-color: $dark-1000;
    color: $light-900;
    width: 100%;
    height: 100%;
  }
}