.best {
  padding: 123px 0 80px;

  @include r(992) {
    padding: 50px 0 30px;
  }


  &__product {
    margin-bottom: 50px;


    &:not(:last-child) {
      margin-right: 10px;

    }
  }

  .product {
    &__new {
      display: none;
    }
  }

}