.brands {
  padding-bottom: 127px;
  
  &__list{
    margin: 0 auto;
    @include r(1631){
      max-width: 1276px;
    }
    @include r(1300){
      max-width: 957px;
    }
    @include r(993){
      max-width: 638px;
    }
    @include r(675){
      max-width: 319px;
    }
  }

  &__item {
    margin-bottom: 1px;
    &:hover {
      .brands__img {
        transform: rotateY(180deg);
        transition: transform 0.9s;
      }
    }

  }

  &__desc {
    max-width: 643px;
    margin-bottom: 50px;
    @include text-clamp(3);
  }

  &__img {
    max-width: 319px;
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.9s;
    backface-visibility: visible;

  }
}