.journal {

  &__list {
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;

      @include r(1200) {
        margin-right: 2px;
      }

      @include r(768) {
        margin-right: 0;
      }
    }
  }
}