.special {
  padding: 128px 0 118px;

  @include r(992) {
    padding: 60px 0 50px;
  }

  &__list {
    justify-content: center;
  }

  &__product {
    &:not(:last-child) {
      margin-right: 5px;
    }


    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}